RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(www\.)?www.c4\.ca
# RewriteRule ^(.*)$ https://www.c4.ca/$1 [R,L]
RewriteRule ^(.*)$ https://www.www.c4.ca/$1 [R,L]

# ensure www.
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ensure redirect page
# Redirect 301 /blogpage.php/ https://www.www.c4.ca/blogpage

# ensure remove extension
RewriteCond %{THE_REQUEST} /([^.]+)\.(html|php|asp) [NC]
# RewriteCond %{REQUEST_FILENAME} !blogs\.php
RewriteCond %{REQUEST_FILENAME} !sendmail-contact-us\.php
RewriteCond %{REQUEST_FILENAME} !sendmail-modal\.php
RewriteRule ^ /%1 [NC,L,R=301]

# ensure file extension
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]



# RewriteRule ^(.*).html $1.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{HTTP_HOST} ^(www\.)$_SERVER['DOCUMENT_ROOT']$
RewriteRule ^(.*)$ index.php/$ [L] # replace index.php by blank
RewriteRule    ^about-us?$    about-us.php    [R=301,NC,L] 
RewriteRule    ^specialty-programs?$    specialty-programs.php    [R=301,NC,L] 
RewriteRule    ^c4-faqs?$    c4-faqs.php    [R=301,NC,L] 
RewriteRule    ^contact-us?$    contact-us.php    [R=301,NC,L] 







