/* #banner{
    border-color: rgb(32 77 108 / 70%);
    border-width: 1px 1px 1px 1px;
    border-style: solid;
} */

/*ybo slider loading skin spin css*/
.ybo-loading {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    text-align:center;
    background-color:rgba(0,0,0,0.7);
}

.ybo-loading img {
    animation-name: ybo-loading;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top:-19px;
    position:relative;
    top:50%;
    width:38px;
    height:38px;
}

@keyframes ybo-loading {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*ybo slider bullet skin 053 css*/
.yboslidebullets .i {position:absolute;cursor:pointer;}
.yboslidebullets .i .b {fill:#fff;fill-opacity:0.4;}
.yboslidebullets .i:hover .b {fill-opacity:0.8;}
.yboslidebullets .iav .b {fill-opacity: 0.8;}
.yboslidebullets .i.idn {opacity:0.4;}

/*ybo slider arrow skin 093 css*/
.yboarrownav {display:block;position:absolute;cursor:pointer;width:50px;height:50px;bottom:11px; background: rgb(0 0 0 / 50%);}
.yboarrownav:hover{background: rgb(0 0 0 / 70%);}
.yboarrownav .c {opacity:.7;fill:none;stroke:#fff;stroke-width:1000;stroke-miterlimit:10;}
.yboarrownav .a {opacity:.7;fill:none;stroke:#fff;stroke-width:1000;stroke-miterlimit:10;}
.yboarrownav:hover .c {opacity:.8;fill:none;stroke:#e6d600;}
.yboarrownav:hover .a  {opacity:.8;fill:none;stroke:#e6d600;}
.yboarrownav:hover {opacity:1;}
.yboarrownav:hover .c, .yboarrownav:hover .a {
    background: red !important;
}
.yboarrownav.yboarrownavdn {opacity:.4;}
.yboarrownav.yboarrownavds {opacity:.8;pointer-events:none;}

#ybo_container {
    position:relative;
    margin:0 auto;
    top:0px;
    left:0px;
    width:1200px;
    height:550px;
    overflow:hidden;
    visibility:hidden;
}

#nav-container {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.slider-img {
    opacity: .95 !important;
}

